{% extends 'base.html' %}

{% block title %}The Loan Calculator{% endblock %}



{% block contents %}


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
			  <h1>
				The Loan Calculator
			  </h1>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">






Contents of the loan calculator application

1st order:
<ul>
<li>We will see a form to input a new loan</li>
<li>The loans that have been inputed already</li>
<li>A summary graphic of the loans</li>
</ul>



<form method="post" action="">

	{{ formset.management_form }}

	{% for form in formset %}
		{{ form.id }}
		<ul type="none">
			<li>{{ form.balance.label_tag }}{{ form.balance }}</li>
			<li>{{ form.interest_rate.label_tag }}{{ form.interest_rate }}</li>
			<li>{{ form.minimum_payment.label_tag }}{{ form.minimum_payment }}</li>
		</ul>
	{% endfor %}

	{% csrf_token %}
 	<input type="submit" name="generate" 
  		value="Generate Text" id="gen" class="btn btn-primary">

</form>




2nd order:
<ul>
<li>options for different payout strategies</li>
</ul>




		</div>
	</div>
</div>





{% endblock %}



