{% extends 'base.html' %}

{% block title %}The Loan Calculator{% endblock %}



{% block contents %}


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
			  <h1>
				The Loan Calculator
			  </h1>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">






Contents of the loan calculator application

1st order:
<ul>
<li>We will see a form to input a new loan</li>
<li>The loans that have been inputed already</li>
<li>A summary graphic of the loans</li>
</ul>


<form method="POST">
	<input name="balance" id="id_balance" placeholder="Balance" />
	<input name="interest_rate" id="id_interest_rate" placeholder="Interest Rate" />
	<input name="minimum_payment" id="id_minimum_payment" placeholder="Minimum Payment" />
	{% csrf_token %}

	<input type="submit" name="add_loan" 
		value="Add Loan" id="add" class="btn btn-primary">
</form>

<table id="id_loan_table">
	<th>ID </th>
	<th>Balance</th>
	<th>Interest Rate</th>
	<th>Minimum Payment</th>
	{% load loan_formatting %}
	{% for loan in loans %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ loan.balance | currency }}</td>
			<td>{{ loan.interest_rate }}</td>
			<td>${{ loan.minimum_payment }}</td>
		</tr>
	{% endfor %}
</table>



2nd order:
<ul>
<li>options for different payout strategies</li>
</ul>




		</div>
	</div>
</div>





{% endblock %}



